body {

}

.hero-image {
    background-image: url(texture1.jpg);
}
.hero-text {
        text-align: center;
        color: lightgoldenblack
    }
    
    .hero-image {
        background-image: url(texture1.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .container {
        border: 1px solid plum;
        box-shadow: -8px 5px 9px 1px #ac8688;
    }